[2012-04-22 13:04] anu opened #8 "Timezone says UTC, but time is in PDT"
Using the timezone gem,

timezone = Timezone::Zone.new :zone => 'America/Los_Angeles'

That doesn't seem right since when I don't use the gem, it's about 6am PDT and UTC should be 1pm

Am I missing something?

Thanks,
-Anuradha

[2012-05-28 22:20] auxbuss opened #12 "Timezone::Error::NilZone: No zone was found. Please specify a zone."
I've been using timezone for ages and suddenly all my tests have failed after updating to 0.1.5. All is fine if I revert to 0.1.4

Taken from the README, when I do:

[code]

I get:

[code]

Any ideas? Thanks.

[2012-06-16 12:18] #12 closed, assigned to nobody

[2012-08-09 21:12] amnesia7 opened #13 "How do I avoid tests calling the Geonames API?"
I use my lat lng values to lookup timezone using a before_save function.

However, in my rspec tests I assume it will call this function every time it creates/updates when it is running each of the tests.

I could call the Timezone gem for testing that it converts lat lng to timezone but can you offer any advice on how I can avoid this Geonames API call for all my other tests?

Thanks

[2012-08-10 02:33] #8 closed, assigned to nobody

[2012-08-15 08:35] c4ftabrez opened #14 "Timezone::Error::NilZone: No zone was found. Please specify a zone."
I am trying to use this gem to get zone based on geocoding data. But I get the following error:

  Timezone::Error::NilZone: No zone was found. Please specify a zone.

I ran the following as per the documentation:
  timezone = Timezone::Zone.new :latlon => [-34.92771808058, 138.477041423321]

Has that functionality been discontinued?

[2012-08-15 08:51] #14 closed, assigned to nobody

[2012-08-18 15:01] #13 closed, assigned to nobody

[2012-08-18 16:32] amnesia7 opened #15 "Alternative in case Geonames lookup fails"
Hi,

I was wondering whether the option of using a local timezone database table had been considered as a fallback just in case Geonames lookups failed for whatever reason (eg the web service is down, too many requests in the time frame, etc).

There's a post here: http://stackoverflow.com/questions/5584602/determine-timezone-from-latitude-longitude-without-using-web-services-like-geona that menti

[2012-10-08 15:51] auxbuss opened #16 "Missing zones"
Hi, matching zones against the latest tz_world data (http://efele.net/maps/tz/world/), the following zones are missing (ignoring 'uninhabited''):
1. Africa/Juba
2. America/Coral_Harbour
3. America/Creston
4. America/Kralendijk
5. America/Lower_Princes
6. America/Metlakatla
7. America/North_Dakota/Beulah
8. America/Sitka
9. Asia/Hebron

[2013-01-14 22:25] #16 closed, assigned to nobody

[2013-01-16 03:07] whatcould opened #18 "TZ data seems to be out-of-date"
Not sure how all the json tz files were created — must have been scripted somehow? I got this error:

(Timezone::Error::InvalidZone) "'America/Sitka' is not a valid zone."

But America/Sitka appears to be a valid zone. http://en.wikipedia.org/wiki/America/Sitka

I'd try to add it manually but that seems tedious, and if there's one missing zone, there are bound to be others, right? I'd be happy to

[2013-01-16 03:55] #18 closed, assigned to nobody

[2013-02-24 20:59] EpicDraws opened #19 "Timezone::Error::NilZone: No zone was found. Please specify a zone."
Does it take some period of time to enable the account? I still get this error even though my account is enabled. When I manually enter the URL in a browser with my username, things work fine.

[2013-02-24 21:15] #19 closed, assigned to nobody

[2013-10-03 16:46] themire opened #20 "1.9 only?"
Should this gem work with ruby 1.8.7?

[2013-10-03 19:59] #20 closed, assigned to nobody

[2013-10-11 03:00] aklein-dex opened #22 "DST is always false"
Hey,
I just installed this gem and when I do:

[code]

The result is

[code]

Today we are Oct 11th, so DST should be true. No ?
When I set the date of my computer in winter (Feb 20th for example), it is still :dst => false.
I could find similar behavior with other time zones (Europe/Paris, America/Montreal).
But the values for :offset and :utc_offest are correct.

[2013-10-20 13:53] kylejginavan opened #23 "The proper error is not thrown when GeoNames has an error."
The proper error is not thrown when GeoNames has an error. This is because JSON.parse does not throw an exception, rather it returns nil.
[code]
The error that gets raised is later.
[code]
Therefore, timezone_id needs enhanced to check for a status message vrs. if timezoneId is present. Alternatively, we could raise an exception if timezoneId is not present.

[2013-10-21 23:14] #22 closed, assigned to nobody

[2014-03-27 23:08] simonmorley opened #25 "HTTP_PROXY"
We're behind a proxy using this. There's no option for a proxy as far as I can tell.

Is this something you have feelings about the specifics, i.e. how you'd want to set the proxy opts?

[2014-04-15 21:38] #25 closed, assigned to nobody

[2014-07-17 07:47] rostaamm opened #26 "Timezone::Error::NilZone: No zone was found. Please specify a zone."
Hi,
I enabled GeoNames free webservrices 5 hours ago and when I go to `http://www.geonames.org/enablefreewebservice` it says

     The account rostaamm has been successfully enabled to use the free webservices.

But when I run the following in my Rail4 application console

    timezone = Timezone::Zone.new :latlon => [-34.92771808058, 138.477041423321]

I get the error message:

     Timezone::Err

[2014-09-22 17:59] amnesia7 opened #27 "Use google timezone api"
What about also allowing use of the google timezone api (https://developers.google.com/maps/documentation/timezone/) as well as the geonames api so that it can fallback to using google (or vice versa) if one fails or is down or hits its quota limit?

[2014-11-07 16:18] angelacode opened #28 "I am in timezone.zone = "America/Los_Angeles" but UTC time matches my time"
[code]

My **expectation** was that the UTC time should NOT match the -0800 time.....but they do.  Am I using timezone incorrectly?

[2014-12-05 17:32] #27 closed, assigned to nobody

[2014-12-16 06:08] #28 closed, assigned to nobody

[2015-01-29 06:39] panthomakos commented on #23
Closing. This was implemented.

https://github.com/panthomakos/timezone/blob/master/lib/timezone/lookup/geonames.rb#L17

[2015-01-29 06:39] #23 closed

[2015-01-29 06:40] panthomakos commented on #26
Closing this issue. If you can provide me with a stack trace or additional information I would be happy to re-open the issue. Thanks!

[2015-01-29 06:40] #26 closed

[2015-04-29 04:02] blklane opened #31 "Error, uninitialized class variable @@username in Timezone::Configure"
Error I am getting: `Timezone::Error::GeoNames: uninitialized class variable @@username in Timezone::Configure`

When I am trying to run:
`Timezone::Zone.new(latlon: [-122.4194155, 37.7749295])`

[2015-05-01 04:12] panthomakos commented on #31
Did you configure the username? https://github.com/panthomakos/timezone#getting-the-timezone-for-a-specific-latitude-and-longitude

[2015-05-04 16:51] blklane commented on #31
Ahh no, didn't see that.

[2015-05-04 16:51] #31 closed

[2015-05-15 20:09] panthomakos commented on #31
FYI the upcoming release of this gem (0.3.10) will have a clearer configuration error message when this happens:

[code]

[2015-05-15 22:39] blklane commented on #31
Thanks @panthomakos!

[2015-05-25 23:22] CorreyS opened #32 "Timezone for Arizona has wrong lookup"
If a user ever has timezone 'America/Phoenix' and uses timezone.active_support_time_zone it will always return 'Mountain Time (US & Canada)', when in fact, Arizona should return 'Arizona' as it does not change timezones. ActiveSupport::TimeWithZone has a field just for Arizona as parts of the year it is Pacific Time, and other parts Mountain Time. The offset for Arizona is -0700 year round.

[2015-05-26 18:03] panthomakos commented on #32
It appears the mapping is not correct in the `timezone` gem code.  Thanks for reporting this.

ActiveSupport only has "nice" names for 149 timezones, so I am only going to include those. The current mapping includes values for almost all timezones which is not accurate.

I will release a new patch version of this gem with only the `ActiveSupport::TimeZone` mappings included.

In a future release I

[2015-05-26 18:11] #32 closed

[2015-07-07 12:42] martinezcoder opened #34 "Error executing a command from the README file"
In the README file, it says that I can get the Timezone with the latitud and longitud parameters.
[code]

However, when I execute this code I get this error:
[code]

[2015-07-08 03:06] panthomakos commented on #34
Please make sure you read the `README` instructions. They explains that you need to configure the gem w/ a username:

https://github.com/panthomakos/timezone#getting-the-timezone-for-a-specific-latitude-and-longitude

[2015-07-08 03:06] #34 closed

[2015-07-08 05:56] martinezcoder commented on #34
:)

[2015-08-26 01:01] goodmanship opened #35 "Timezone::Error::Google: 757: unexpected token at '�‹�'"
I've been using this gem for months and it's been working great, but on Aug 20th, I started getting this error.  Any help appreciated!

backtrace:
vendor/bundle/ruby/2.2.0/gems/timezone-0.4.2/lib/timezone/lookup/google.rb:35 in rescue in lookup
vendor/bundle/ruby/2.2.0/gems/timezone-0.4.2/lib/timezone/lookup/google.rb:20 in lookup
vendor/bundle/ruby/2.2.0/gems/timezone-0.4.2/lib/timezone/zone.rb:2

[2015-08-26 22:45] panthomakos commented on #35
Nothing changed on the timezone gem side, so my guess is that something changed with the google API or with your application. Can you provide me the actual call you are making (lat, lng)? Can you reproduce this in a Rails console? If so, can you provide me with the output of the following when run from the Rails console?

[code]

[2015-08-27 17:39] goodmanship commented on #35
You're right, it was not a timezone issue.  We upgraded to ruby 2.2.2 a few weeks ago which caused a problem with Net::HTTP response decoding due to a monkey patch from another gem.
Thanks for looking at it

[2015-08-27 17:39] #35 closed

[2015-08-27 18:15] panthomakos commented on #35
Hey, glad you sorted it out! Monkey patches can be tricky to debug. Monkey patching `Net::HTTP` sounds particularly nefarious.

[2015-10-01 11:14] arturictus opened #36 "Strange behavior when converting timezones"
[code]

[2015-10-01 22:12] panthomakos commented on #36
Can you please provide some additional information about the libraries (I believe ActiveSupport?) you are using; and the version of `timezone` that you are using? I cannot reproduce with the latest version:

[code]

You may be using a version of timezone with an out-of-date `Pacific/Samoa` data file. These files get updated from time to time and I release new minor versions of the gem to keep it u

[2015-10-29 12:02] arturictus opened #37 "Http wrapper not working"
When Creating a custom wrapper doesn't get the timezone

[code]

### Outputting the response

[code]

[code]

### Code
[code]

[code]

I've tried to use a wrapper for the wrapper:
no luck

[code]

[2015-10-29 13:11] arturictus commented on #36
Yes, I'm using active support.
I'm in Rails 4.2 environment.
I'm using timezone (0.4.2).

Using another timezone I have the same problem.
[code]

[2015-10-29 13:24] arturictus commented on #36
I've updated to timezone (0.4.3).
Same issue
[code]
[code]

My dependencies:
[code]

[2015-10-29 13:42] panthomakos commented on #36
@arturictus: can you also provide me with the version of Ruby you are running and the output of the following commands?

Thank you very much!

[code]

Would it also be possible for you to share your `Gemfile` + `Gemfile.lock` or the output of `bundle list`?

[2015-10-29 13:50] panthomakos commented on #36
@arturictus I actually see the problem and there is definitely something going on with `DateTime`. This command:

[code]

should give you what you want because you are converting to a `Time` object (which is what `Timezone` expects).

The difference between the two can be seen in this code:

[code]

I'll see if I can write some code to handle this.

[2015-10-29 14:11] panthomakos commented on #36
My proposed solution is to sanitize all reference times/datetimes/dates on input by converting them to `Time` objects using `#to_time`. The result of each function call will then be a correct `Time` object. The consumer of the library can then convert back to a `DateTime` with `#to_datetime` or `Date` with `#to_date`.

[2015-10-29 16:48] panthomakos commented on #37
I had to make a correction (changed `HTTP` to `::Net::HTTP`) to get the code to work, but I am still getting a different result than you are:

[code]

Result:

[code]

[code]

I can resolve that by changing the `_url` method to return the actual `URI` instead of a `String`:

[code]

But you still have a problem because `::Net::HTTP.get(url)` in your `get` method will still just return a string ins

[2015-10-29 17:02] #36 closed

[2015-10-29 17:02] panthomakos commented on #36
Support for `DateTime` and `Date` will be added in `timezone v0.5.0`.

[2015-11-12 11:03] arturictus commented on #36
That's great!!, thanks

[2015-11-12 11:10] arturictus commented on #37
Hi @panthomakos,
Thanks for the answer.
About the HTTP, I'm using a http gem because I was getting a Strong Error when doing multiple requests in sidekiq.
Here is the gem:
https://github.com/httprb/http

[2015-11-19 20:06] panthomakos commented on #37
@arturictus I'm happy to help you debug issues related to `timezone` itself. I think in this case you need to address the errors that are occurring in your wrapper and URI handling first. If you can address those (see for example my code sample) then you should be able to use your wrapper (or the `HTTP::Response` object directly https://github.com/httprb/http/blob/master/lib/http/response.rb). As

[2015-12-14 00:15] coderdave commented on #14
Probably would be good to add this stuff to the readme...

[2015-12-14 16:33] icem opened #39 "Test lookup"
It would be nice to have ability to configure "test" lookup. Example from [geocoder](https://github.com/alexreisner/geocoder#testing-apps-that-use-geocoder) gem:
[code]

[2015-12-14 23:50] panthomakos commented on #14
@coderdave the configuration instructions already explain that you need a geonames username: https://github.com/panthomakos/timezone#getting-the-timezone-for-a-specific-latitude-and-longitude

Did you have something else in mind?

[2015-12-15 01:37] coderdave commented on #14
@panthomakos I didn't know I had to enable web services. But I found this issue and it helped.

[2015-12-17 17:25] panthomakos commented on #14
@coderdave I added a note w/ a link to enable webservices for geonames. Hopefully this will help people in the same situation. Thanks for the clarification!

[2015-12-17 18:11] panthomakos commented on #39
@icem here is what I'm thinking: https://github.com/panthomakos/timezone/pull/40

[2015-12-18 06:37] icem commented on #39
@panthomakos that's great thank you. Looking forward to apply this on my project. Much better than hacking httpclient.

[2015-12-18 18:41] #39 closed

[2016-01-12 22:25] MaxPleaner opened #41 "Timezone::Error::Google: This API project is not authorized to use this API"
You say in the readme that this can be used with a "Google API key" but there are actually many different kinds of Google API keys. I created an API key for the Google geolocation service but got this error when trying to use the gem to find a time zone given latitude and longitude.

[2016-01-12 22:37] MaxPleaner commented on #41
OK i figured this out. It is not the Google geolocation API I need to enable ... it is the Google maps Time Zone API. I suppose it's obvious although I didn't see the Time Zone option at first. I'll submit a pull request which adds a note in the README. Thank you for the work put in to this useful gem.

[2016-01-12 22:37] #41 closed

[2016-01-12 23:03] panthomakos commented on #41
Thanks for the PR!

[2016-02-05 18:39] jaisonerick opened #43 "Troubles with frozen active support timezone mapping."
The constant `TIMEZONE_MAPPING` on `Timezone::ActiveSupport` class has been frozen in the last version, but I was adding a few more mappings to it in order to match my custom rails mappings. The active support timezone class don't freeze this hash so we can add more specific timezones (like the others we have here, in Brazil). There's any way to "unfreeze" this hash?

Thanks!

[2016-02-10 16:47] panthomakos commented on #37
Please re-open if you have an update!

[2016-02-10 16:47] #37 closed

[2016-02-10 17:03] panthomakos commented on #43
@jaisonerick

The plan is to remove this feature entirely in a near-future version of `timezone`.  The mapping is too tight of a coupling between this gem and Rails.  If `ActiveSupport::Timezone::MAPPING` ever changes I need to modify this gem and possibly create forwards/backwards incompatibilities unnecessarily.

Therefore, I am hesitant to expand/revert behavior at this point.  Might I suggest

[2016-02-10 17:08] panthomakos commented on #43
It also might be worth pointing out that `::ActiveSupport::TimeZone[timezone.zone]` will often give you what you are looking for.

[2016-02-10 17:25] jaisonerick commented on #43
You're right. Now I see that this really doesn't seems to belong to this gem and it would be better removed in future versions. :+1: to that.

Thank you for the suggestion, it'll be very helpful.

[2016-02-10 17:26] #43 closed

[2016-02-10 23:14] arturictus commented on #37
Hi @panthomakos, yes sorry, I did not had much time to investigate. I reopen when I have something to show.
Thank you.

[2016-02-16 19:24] chebyte opened #47 "adds supports for beerpay! for get donations!"
Hi @panthomakos, I have been using this gem and I found it very usefull, please add this project to http://beerpay.io so I can donate you!

thanks for advance!

[2016-03-03 02:03] jkotchoff opened #48 "Improved matching from google"
The google service is returning a timezone of _"Australia/Hobart"_ for co-ordinates which should instead be matching _"Australia/Melbourne"_
ie.
[code]

Is this because both of those timezones share the same offset (UTC +10) and it's returning the first one from that list?

Perhaps this could be improved in the timezone gem by checking for multiple timezone matches on a query and returning the clo

[2016-03-29 18:15] kwokster10 opened #51 "SyntaxError: unexpected tLPAREN_ARG, expecting keyword_do_LAMBDA or tLAMBEG"
Hi,

I recently added your gem to my project (Rails 3.1.0 and Ruby 1.9.3). I got a syntax error right off the bat when I tried run the console after bundle install.

It seemed similar to this issue:
https://github.com/rubinius/rubinius/issues/2595

So I opened the `timezone-0.99.1/lib/timezone/deprecate.rb` file and edited line 23 to get rid of the whitespace after lambda:
[code]
I saved and tried

[2016-03-31 18:24] panthomakos commented on #51
This seems like a reasonable thing to fix even though `1.9.3` is not supported. I'll fix for the next patch release.

[2016-03-31 18:55] #51 closed

[2016-04-05 19:59] mikellevate opened #53 "Upgrade Documentation"
Please provide better upgrade documentation for 1.0 release.  While the config deprecation warning is obvious and noted in the README the method calls are not.  The incompatibility between new config/old method calls is especially disruptive.

[2016-04-11 16:44] panthomakos commented on #53
Can you please clarify where you are having trouble w/ the upgrade or what methods are not working?  I am assuming [this](https://github.com/panthomakos/timezone/blob/master/README.markdown) is the README you are using for reference?

[2016-04-11 17:51] mikellevate commented on #53
I've figured it all out now, but it would be good to document the full list of changes.  The particular problem I encountered was that changing the config forces you to use the new method calls -- but this is not documented anywhere.  You'll probably get users that change their config because of the deprecation warning but don't realize their method calls need to change as well.

[2016-04-11 18:09] panthomakos commented on #53
Okay, I see. Thank you for the clarification! I'll update the documentation to indicate that the method calls need to be updated before the configuration is updated.

[2016-04-13 00:44] stephenq opened #54 "Example test case not working"
Timezone::Error::InvalidZone: Timezone::Error::InvalidZone
	from ~/.rvm/gems/ruby-2.2.1/gems/timezone-0.99.2/lib/timezone.rb:50:in `fetch'
	from ~/.rvm/gems/ruby-2.2.1/gems/timezone-0.99.2/lib/timezone.rb:75:in `lookup'

[2016-04-17 16:09] panthomakos commented on #48
@jkotchoff I don't know why Google is returning the incorrect timezone - this gem has no impact/influence on the Google API. I believe this is a bug that you should file with Google.  Using a center coordinate to try to improve on the results returned from APIs is not practical as most countries and timezones are not based on central point - they are based on geo-political boundaries and can be ra

[2016-04-17 16:09] #48 closed

[2016-04-18 13:52] ijunaidfarooq opened #56 "hash will be deprecated in the next release"
`Creating Zone objects using an options hash will be deprecated in the next release of the `timezone` gem. Use `Timezone::[]`, `Timezone::fetch` or `Timezone::lookup` instead.`

is this will be shown on any violation or by default just to remind that if you have been using hash then remove it?

As i have cleaned my code but this caution never goes...??

[2016-04-26 20:39] #53 closed

[2016-04-27 04:32] panthomakos commented on #56
@ijunaidfarooq this means you are probably using code such as `Timezone::Zone.new(...)`. Instead you should be using [`Timezone::[]`](http://www.rubydoc.info/gems/timezone/0.99.2/Timezone#%5B%5D-class_method) ,[`Timezone::fetch`](http://www.rubydoc.info/gems/timezone/0.99.2/Timezone#fetch-class_method) or [`Timezone::lookup`](http://www.rubydoc.info/gems/timezone/0.99.2/Timezone#lookup-class_metho

[2016-04-27 04:35] panthomakos commented on #54
@stephenq I am able to get this working with geonames. It is possible that the lookup does not return anything for google. If that is the case I am happy to update the documentation. Can you confirm if the following returns a proper value with your configuration:

[code]

[2016-04-27 04:38] panthomakos commented on #47
@chebyte I am glad you are finding this project useful.  I am not interested in receiving donations but please feel free to open issues if you find bugs or would like to suggest an improvement. Pull Requests are also always welcome!

Thanks!

[2016-04-27 04:38] #47 closed

[2016-04-27 04:41] panthomakos commented on #15
Closing this ticket for the time being.  The idea is interesting, but there does not appear to be progress on it. I believe it would be very easy to write your own lookup/handler to do database lookups (as opposed to HTTP lookups) and if modifications need to be made to support that, I would be happy to take a look at a Pull Request for that.

In the gems current state I don't want to introduce a

[2016-04-27 04:41] #15 closed

[2016-04-27 06:28] ijunaidfarooq commented on #56
this is all my codings
its specific branch with some update coding https://github.com/evercam/evercam-api/tree/update_time_zonegem_and_codings

and this is my whole codebase https://github.com/evercam/evercam-api But yet failed to found out about the above Deprecation. It was giving me 2 deprecations one is removed in above branch but 2nd one is not even finding in the code.

[2016-04-28 23:39] panthomakos commented on #56
I see a few uses that need to be corrected:

`Timezone::Zone.names` should be `Timezone.names`

https://github.com/evercam/evercam-api/blob/update_time_zonegem_and_codings/lib/actors/camera_create.rb#L58
https://github.com/evercam/evercam-api/blob/update_time_zonegem_and_codings/lib/actors/camera_update.rb#L65

Although these would be much more efficient as:

[code]

I could not find uses of `Time

[2016-05-03 15:20] ArnaudRemi commented on #54
[code]

This is also returning error, lookup is configured with geonames.

[2016-05-03 15:57] panthomakos commented on #54
That code also works for me.

[code]

Can you tell me what the following outputs for you?

[code]

Are you using a custom http handler?

[2016-05-03 16:53] aliceclv commented on #54
[code]
Thanks for your quick answer :) Same issue/project than @ArnaudRemi.
It's working locally but not on our server. We're not using a custom http handler.

[2016-05-03 17:10] panthomakos commented on #54
This is very strange. Could you run the following in your console? My guess is that the geonames API is not returning a 200 response for some reason. (remember to filter your username in the URL)

[code]

[2016-05-03 17:52] aliceclv commented on #54
I ran your code and you were right, it is indeed coming from Geonames. I had the following answer:

[code]
So I now enabled it :)
I also realized my geonames username was different from the server one (I was testing it before and then I created a project username), the reason why it was working locally.
Sorry for the bother and thank you for you answers.

[2016-05-03 18:00] panthomakos commented on #54
Okay, thank you for the response! I will create a ticket to provide a better error message in this case.

[2016-05-03 23:43] panthomakos commented on #54
@aliceclv for the failure you posted, can you also provide the HTTP status code?

[code]

[2016-05-04 00:19] #54 closed

[2016-05-04 08:24] aliceclv commented on #54
@panthomakos It returned a 200 OK, just like the one you've pasted in your message.

[2016-05-04 20:50] filipegiusti opened #58 "Can't precompile in Rails without lookup api key set"
I want to:

- Add configuration for google lookup in initializer setting api key with an env var.

[code]

- Run `RAILS_ENV=production bundle exec rails assets:precompile` in my local machine without GOOGLE_MAPS_API_KEY env var set.

This raises `Timezone::Error::InvalidConfig: missing api key` but I don't need an instance of Lookup for precompilation.

The initializer shouldn't instantiate a new

[2016-05-05 14:05] ssurfr2819 opened #59 "Slow geonames api"
Since the last two days, we receive many timeout exceptions (greater than 10 seconds) on calls that are generated by the timezone gem to api.geonames. During the past two years, we don't think we received any such exceptions. I've looked at the geonames website for potential indication that they are experiencing issues, but could not find any current announcements. Is it possible that the timezone

[2016-05-05 16:41] panthomakos commented on #59
There have been no changes to the request structure or API on the `timezone` gem side - certainly none in the last two days.

Locally some simple benchmarks give me an average request+response time of 2.5 seconds. While that's slow for a webservice, it's certainly nothing in the range of 15+ seconds.

Are you using a custom HTTP wrapper? Have you investigated if you are being rate limited by the g

[2016-05-05 16:53] panthomakos commented on #58
The lookup is instantiated immediately for a few reasons. The main reason is that validation happens immediately, so invalid configurations don't raise an error on first use - which could happen at any time during execution and cause the program to fail. There are secondary reasons related to optimizing the call for forking servers (and only instantiating a single lookup class).

There are a few t

[2016-05-05 16:57] ssurfr2819 commented on #59
We are a very low use app, still in beta. Heroku suggested it could be due to IP limiting, and wants us to use a (paid) add-on to act as work around for dedicated IPs. But I understand geonames uses our username for limits, so that doesn’t make sense.

No, we aren’t using a custom wrapper, just timezone gem doing its thing.

From: Pan Thomakos [mailto:notifications@github.com]
Sent: Thursday, May

[2016-05-05 17:08] filipegiusti commented on #58
Yeah, I already went with something like the second approach, but I was surprised by the implementation. Raising an exception when you only want to add configuration values is surprising. I understand the reasoning but disagree, so I would expect at minimum to have an alternative that would mean only setting an attribute to true or calling a different method.

I propose something like

[code]

and

[2016-05-05 21:30] ssurfr2819 commented on #59
I doubt this issue is caused by the timezone gem, but its very odd what we observe. Using the rails console, with timezone configured with Timezone::Lookup.configure(:geonames)... (setting our username), we observed a request for a lookup to return "execution error", and a following identical request to operate successfully:
[code]
Note the variable "t" is set to an object that includes latitude a

[2016-05-05 22:17] panthomakos commented on #59
That error is raised by the Ruby `NetHTTP` library and then wrapped in a common exception - it indicates that either the read or open timeouts were exceeded. I am assuming you have configured the timeouts with higher limits for your tests like this?

[code]

Unfortunately there is not much more information that I can provide you, because `timezone` never received a response from Geonames in this c

[2016-05-05 22:26] panthomakos commented on #58
You also do have the option of passing a dummy value in. For instance:

[code]

I don't think this is unprecedented. For example, Rails itself will raise an exception when passed a value it does not expect. For instance, you can't pass a `nil` or a `Fixnum` to `config.autoload_paths <<` - while a `String` is allowed even if the path does not exist.

I would prefer, in this case, to keep the API sm

[2016-05-05 22:27] panthomakos commented on #54
@aliceclv thank you! I have improved exceptions in the `master` branch, so that when they do occur you will receive a more meaningful message.

[2016-05-05 23:08] ssurfr2819 commented on #59
First, its great that you respond to people trying to use your invention. :)

This is definitely not a case of limits based on IP. The last runs within IRB were made on my local machine, so the IPs are not going to be the same as the production app on Heroku.

I had seen in your source that you had configured HTTP client to include an open or read timeout that included " ... || 5" so I inferred th

[2016-05-05 23:23] panthomakos commented on #59
@ssurfr2819 Thanks for getting back to me.  I admit I am a little confused with the version switches thrown in there, but it doesn't matter much at this point.

I'm glad Google and the new gem version are working for you!

Best of luck!

[2016-05-05 23:23] #59 closed

[2016-05-06 03:23] filipegiusti commented on #58
OK, feel free to close the issue.
Em 5 de mai de 2016 19:26, "Pan Thomakos" <notifications@github.com>
escreveu:

[2016-05-06 04:07] #58 closed

[2016-06-28 11:13] craibuc opened #64 "Expose timezone abbreviation [enhancement]"
I noticed that many of the data files (e.g. https://github.com/panthomakos/timezone/blob/master/data/America/Chicago) include the timezone's abbreviation.

Would you consider adding a method to the `Timezone` class to provide the abbreviations and the one that is appropriate for the `time_with_offset` method?

[2016-06-29 04:33] panthomakos commented on #64
If you have any interest in implementing this, please feel free to do so!  If not, I will try to take a crack at it in the next couple weeks.

[2016-06-30 11:14] aashish opened #65 "InvalidZone error"
Hi,
I am getting error as InvalidZone with following code

[code]
 error as
`Timezone::Error::InvalidZone: Timezone::Error::InvalidZone`

Thanks
Aashish

[2016-07-12 22:45] KMarshland opened #66 "Timezone::Configure does not work"
I'm attempting to configure the google api key using the code in the readme:
[code]
in application.rb

However, when I do so, I get `NameError: uninitialized constant Timezone::Configure`.

[2016-07-13 00:28] panthomakos commented on #66
Which version of the gem are you using? Ever since `0.99.*` you should be configuring Google using `::Timezone::Lookup.config(:google)`: https://github.com/panthomakos/timezone#lookup-configuration-with-google

[2016-07-13 01:02] panthomakos commented on #65
Can you please provide the version of `timezone` you are using? Also, have you configured Geonames or Google as the timezone lookup? Using the latest version of `timezone` and configuring w/ Geonames, I have this result:

[code]

[2016-07-13 08:29] aashish commented on #65
It got fixed with
`Timezone.lookup(17.4088912, 78.51124089999999)`

[2016-07-13 08:30] #65 closed

[2016-07-13 09:03] KMarshland commented on #66
That solves it. It seems I was linked to https://github.com/panthomakos/timezone/tree/34c94ea5679bc6fdaf3ba464bce0a3ef2d76e42e from a StackOverflow post, which was out of date. Hopefully this will help anyone coming from the same place.

[2016-07-13 09:03] #66 closed

[2016-07-20 14:06] grandmasterspoc opened #67 "Some Zip codes don't work"
the zip code `66202` returns nil.

I'm not sure about other zip codes because my loop broke before it got any further

Please fix?

Thanks!

[2016-07-23 00:15] panthomakos commented on #67
Please provide more details.  I am unaware of any zip-codes that are handled by this gem.  What version of this gem are you using? Can you provide a code sample?

[2016-08-19 19:51] djkazic opened #68 "Net/HTTP error"
After initialization, the .lookup using GeoNames will cause an 'undefined method 'closed?'' error to be thrown. This is not reproducible in the interactive console, but has been observed in deployment.

Running on Ruby 2.3.1 with newest libraries.

[2016-08-23 04:25] panthomakos commented on #68
Can you please provide me with a more complete backtrace and error message?

Additionally, what type of stack (or part of the stack) are you running in deployment when this is observed? Example: Rails, Sinatra, Puma, Webrick, Passenger + NGINX, Sidekiq Worker, Resque Worker...

[2016-08-23 04:26] panthomakos commented on #56
Please re-open if this is still relevant or if you have additional questions.

[2016-08-23 04:26] #56 closed

[2016-08-23 04:26] panthomakos commented on #67
Please re-open when you have additional information.

[2016-08-23 04:26] #67 closed

[2016-09-04 21:36] #64 closed

[2016-09-22 00:15] panthomakos commented on #68
Please re-open when you can provide additional details.

[2016-09-22 00:15] #68 closed

[2017-01-24 19:49] sb8244 opened #71 "Thread safety problems"
Hello, I wanted to bring up a problem that I've recently found. The stock implementation of NetHTTPClient is not thread safe with the global lookup objects. I identified this in an older gem version, but confirmed it is also present in the latest master version.

The problem's root is demonstrated here, by the lack of thread safety to the same http instance:
[code]

You will get a variety of error

[2017-01-27 07:08] panthomakos commented on #71
@sb8244 great find! I have a fix coming. The issue is really that the http client is cached, so the same client is used for every lookup. Using `Thread.current` can actually cause some issues. I was pretty consistently able to get tests to fail. I am simply going to remove the `client` cache so that each lookup call uses a new client - this will resolve the threadsafety issue you are seeing.

[2017-01-27 07:41] #71 closed

[2017-01-27 07:42] panthomakos commented on #71
I'll target the fix for a `1.2.5` (PATCH) release.

[2017-01-29 03:29] sb8244 commented on #71
👏 nice!

For informational sake: what type of problems can arise from using Thread.current in this situation?

[2017-01-30 23:25] panthomakos commented on #71
@sb8244 The possible problem arises because `Thread.current` is global in the current thread. That means that two separate lookups (ex: `Timezone::Lookup::Geonames` and `Timezone::Lookup::Google`) could end up using the same cached HTTP client.

While this is not a problem in most use-cases for the gem, it certainly arises in tests and is a possible problem if anyone has a custom http client/looku

[2017-01-30 23:27] sb8244 commented on #71
Appreciate the explanation! Thanks for your time in maintaining this gem.

On Mon, Jan 30, 2017 at 6:25 PM Pan Thomakos <notifications@github.com>
wrote:

--
Steve Bussey • SalesLoft
• Software Engineer
| e. steve.bussey@salesloft.com | w. http://salesloft.com
<http://salesloft.com/?v=1&utm_expid=76406993-1.E5ncJhwyTAW9uGaR1WdBTA.1?utm_source=email-signature>
| s. 3405 Piedmont Rd NE, Atlanta, GA

[2017-04-04 21:38] amnesia7 opened #73 "Use geonames by default with google lookup as fallback"
Hi,

I am updating my app to use a >1.0.0 version of the gem.

The app used geonames by default and then try using the google lookup if geonames returned an error.

It did this by only setting the google api key config variable when required and then setting it back as `nil` again afterwards so that the default was back as geonames again.

Can you advise how the new format of setting the gem's con

[2017-04-05 06:37] amnesia7 commented on #73
Or would it be more like using `config` when required and not in the initializer in this case?
[code]
My only other uses of the gem are for validating the timezone is in the full list of names which I don't think should need anything to be configured or am I better leaving the geonames config in the initializer as well anyway?

[2017-04-06 21:45] amnesia7 commented on #73
Minor adjustment to the code above:
[code]
And then I have this in my `timezone.rb` initializer just to be sure:
[code]
I think that should do it. @panthomakos if you can confirm then this issue can be closed.

Thanks

[2017-04-07 21:39] panthomakos commented on #73
Setting the lookup config back and forth between geonames and google is not _recommended_ because the code is not thread-safe when used that way (since the config is essentially global). If you are not concerned with thread safety, then that code looks fine to me.

I do have a plan to allow a fallback configuration in the gem itself. I just haven't gotten around to implementing this yet. I was thi

[2017-04-07 22:27] amnesia7 commented on #73
Ah ok.
I think the first option could be good. I assume `.lookup` would just use the first lookup service if `.using` wasn't specified.
I think it leaves the ability for the order the services are used in the application to be changed rather than it being constrained within an initializer.

[2017-04-12 23:14] panthomakos commented on #73
I would like to retain full backwards compatibility with the existing API and I think that allowing the user to specify fallback behavior is probably best (rather than having `timezone` do the fallback). This would make it easy to incorporate exponential back-off or allow dynamic toggling of which service to use.

I also realized that the following is currently supported, and is thread-safe. I mig

[2017-04-27 19:57] amnesia7 commented on #73
Should not mean that this should work because it doesn't seem to? Have I missed something somewhere?
[code]

[2017-05-03 03:36] panthomakos commented on #73
Can you clarify what is not working in your example?

[2017-06-01 20:27] SergeyMell opened #75 "Invalid Timezone error"
Recently I started to get Timezone::Error::InvalidZone very often for valid coordinates. After retrying the request (sometime it required several repeats) it starts working ok

[2017-06-30 21:48] #73 closed

[2017-07-02 18:20] amnesia7 commented on #73
Sorry @panthomakos I never got around to getting back to you. I'll give it another go next time I get chance.

[2017-07-07 16:35] panthomakos commented on #75
@SergeyMell you may be hitting an API request limit for Google of Geonames depending on your usage. If you believe the issue is due to the `timezone` gem, please provide me with some more detailed information so I can help debug! I would recommend checking your usage in Google/Geonames to see if you were hitting an API limit first.

[2017-07-10 15:21] SergeyMell commented on #75
I used Geonames service. Despite it says it has 2000 requests per hour limit, I failed to reach it event making 5000 requests in a loop one by one... Any case I can't reproduce the issue for now so I think it was caused by some internal service problems.

[2017-07-10 15:21] #75 closed

[2017-07-10 21:28] amnesia7 commented on #73
@panthomakos would those constants (`GEONAMES_LOOKUP` and `GOOGLE_LOOKUP`) be declared at the top of my activerecord model class and then the `begin`-`rescue`-`end` be in the particular method that fetches the timezone from the API?

[2017-07-14 03:52] panthomakos commented on #73
Yes - although you can re-create the lookups as well - it doesn't matter. The difference is that the last lookup you define will also be the default that is used by `::Timezone.lookup`.

[2017-09-13 14:14] dobryakov opened #78 "Is it possible to add additional params for geonames?"
http://www.geonames.org/export/web-services.html#timezone
Parameters : lat,lng, radius (buffer in km for closest timezone in coastal areas),lang (for countryName), date (date for sunrise/sunset);

Is it possible to add these params when calling .lookup?

[2017-09-19 04:04] panthomakos commented on #78
Adding `radius` seems possible. Can you outline an example use-case for how you envision that value would be configured?

I don't see how the other options would be useful because the `lookup` call is only interested in the timezone name. Can you provide some more details about how these other parameters would be used; or how they would alter the lookup result?

[2017-09-19 04:06] panthomakos commented on #78
FYI: this PR was opened, but never completed, and it adds the `radius` option: https://github.com/panthomakos/timezone/pull/55

[2017-11-08 00:39] flyflytn commented on #59
Hi, I had the same issues with the Google API so just thought I'd put this here in case others are looking.

It would raise an exception for the very first lookup, and subsequent lookups would all work fine. A bit of wiresharking showed that the initial TLS connection setup with google was slow and seemed to be interrupted and retrying. After reading your post about raising the open and read timeo

[2018-03-29 13:46] alg opened #90 "Issues with utc_offset"
This may be a feature, but I'm really struggling to understand why is this discrepancy in UTC offset:

[code]

The only difference is the date.

Can anyone shed some light?

[2018-03-29 13:54] alg commented on #90
Sorry. Daylight savings.

[2018-03-29 13:54] #90 closed

[2018-05-26 20:56] hamza opened #91 "Issue w/ too many open files"
I'm using this gem in my application, and last night encountered an issue w/ elevated error rate on my servers. The errors were `Errno::EMFILE - Too many open files`, and upon looking at individual web server processes, found that certain of them had anomalous levels of open files.

The files themselves had the following pattern —

[code]

So, redundant instances of these timezone datafiles held o

[2018-05-26 21:11] panthomakos commented on #91
For the version you are using, I suspect this is likely a bug with this line:

https://github.com/panthomakos/timezone/blob/0.1.1/lib/timezone/zone.rb#L36

But you are using a very old version of the gem. Upgrading to 0.99 (which is backwards compatible) will resolve this issue and allow a nice migration path to v1 going forward.

[2018-05-29 21:44] hamza commented on #91
We have updated as you suggested and the problem seems to have abated. Thanks!

[2018-05-29 21:44] #91 closed

[2018-06-01 00:06] panthomakos commented on #91
Woot! Glad that resolved the issue for you.

[2018-09-13 08:14] Chambeur opened #93 "Wrong error raised for Geonames Lookup"
According to README:
[code]

However, with the GeoNames API, we get:
[code]

[2018-09-20 15:12] Shuiei opened #96 "Stub Timezone for Rspec"
Hello,

I have found your gem really useful but I have an issue with it. It seems that I can't stub the HTTP calls made to google maps API from your gem.

I tried to put inside my `rspec/support` a file named `timezone.rb` and put inside `::Timezone::Lookup.config(:test)`. It seems the call is still made since WebMock raise me an error saying that no HTTP call is allowed.

Do you have any way to d

[2018-09-22 15:39] panthomakos commented on #96
Can you please provide the version of the gem that you are using; and a minimal reproducible example?

Are you sure the support file is being loaded and not overwritten by another timezone configuration block?

When you configure the test adapter this way, there is no possibility for a call to still be made to Google because the underlying adapter changes to an in memory implementation.

[2018-09-25 19:04] Shuiei commented on #96
Ya have found the way to solve my problem. You was right I didn'nt set correctly the test configuration. I close this issue.
Thanks for your help 👍

[2018-09-25 19:04] #96 closed

[2018-09-25 19:32] panthomakos commented on #96
Glad you've worked it out!

[2018-10-16 14:24] nobu opened #97 "`Marshal` dumps cached `@rules`"
# Abstract
`Marshal.dump`ed `Timezone::Zone` object contains cached `@rules`.
It doesn't feel preferable and intended.

# Example
Just created `Timezone`:

[code]

After using the rules once:

[code]

# Solutions
I'm thinking of a few ways.

## define `_dump` or `marshal_dump` method.
This is simple, but has a backward incompatibility.

[code]
[code]

## remove `@rules` totally
Remove the assignme

[2019-05-21 05:30] panthomakos commented on #97
I finally got around to this. I like your idea of simply removing `@rules`. To avoid the performance hit I'm storing the rules in a local variable when I need them, and I have improved the performance of `Loader::load` so that it only uses a single `Hash` lookup.

[2019-05-21 05:31] #97 closed

[2019-12-20 14:04] XXChester opened #102 "Timezone resolution all of a sudden wrong"
Hello, earlier this week without a code change, our timezone resolution with this gem started returning the wrong zone.

My location is roughly here
[code]
Which should (and was) returning America/Toronto but now all of a sudden it is resolving to Europe/Moscow.

I've tried upgrading the gem to the latest version but it has the same problem. What changed? What did I miss?

Thanks.

[2019-12-20 14:27] AlexWayfer commented on #102
What provider are you using?

[code]

[2019-12-20 14:48] XXChester commented on #102
Oh that would help, sorry. I'm using geonames

[2019-12-20 14:50] XXChester commented on #102
Hmm I see with your example (and geonames) it returns properly....what the hell...

I'll have to keep digging. Thanks

[2019-12-20 14:50] #102 closed

[2019-12-20 14:51] AlexWayfer commented on #102
I don't know. I can check with Geonames, but if you got the success — I'll not. You're welcome.

[2019-12-21 02:22] XXChester commented on #102
Yeah don't waste your time. I must've changed a setting or something, I'll figure it out. Thanks for the quick reply.

[2021-11-26 23:36] vkowencn commented on #96
Can you please explain how you got this issue resolved I am facing exactly the same issue ? Thanks in Advance.